###
# This file is only here to make sure that something like
#
#    pip install -e .
#
# works as expected. Requirements can be found in setup.py.
###

.

setuptools~>=50.3.2
OctoPrint~>=1.5.2

smbus2~=0.3.0
