<div>
    <button class="btn btn-primary" data-bind="click: lightOff">
        {{ _('Light Off') }}
    </button>
    <button class="btn btn-primary" data-bind="click: lightOn">
        {{ _('Light On') }}
    </button>
</div>

